.article{
    padding: 1rem;
    margin-block: 1rem;
}
.article > *{
    margin-block: 0.5rem;
}
span{
    font-size: 1.5rem;
}
img{
    display: block;
    width: 100%;
    margin-inline: auto;
}
h2{
    font-size: 2rem;
}
.article a{
    font-size: 4rem;
    text-decoration: none;
    color: black;
}
h3{
    font-size: 1.5rem;
    font-weight: 300;
}
.article div{
    display: flex;
    align-items: center;
}