@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  font-size: 62.5%;
}
body{
    position: relative;
}
header nav, footer nav{
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    padding-inline: 1rem;
}
header nav a:nth-child(1){
    width: 70%;
}
header nav h1{
    font-family: Dancing Script;
    font-size: 4rem;
}
header nav a, footer nav a{
    text-decoration: none;
    color: black;
}
header i, footer i{
    font-size: 2rem;
}
header,footer{
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    position: fixed;
}
footer{
    bottom: 0;
    padding-block: 1rem;
}
section{
    padding-top: 100px;
}
